/* @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@100&display=swap"); */

/* * { */
    /* font-family: "Montserrat Alternates", sans-serif; */
    /* font-weight: 600; */
/* } */

#header {
    display: flex;
    align-items: center;
    background-color: #e3f5f8;
    width: 100vw;
    height: auto;
    padding: 0.5rem;
}

#header img {
    width: 20vw;
}


.titulo {
    font-size: 2rem;
    color: #afafaf;
    margin-top: 1rem;
}

h2 {
color: #0dadc5;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.contSelect {
    width: 30vw;
}

.result {
    font-size: 1.3rem;
    color: #0dadc5;
}

/*========== MOBILE ==========*/

@media (max-width: 900px) {
    
    .contSelect {
        width: 90vw;
    }

    #header {
        justify-content: center;
    }

    #header img {
        width: 50vw;
    }
}




