@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@100&display=swap");

/* * { */
/* font-family: "Montserrat Alternates", sans-serif; */
/* font-weight: 600; */
/* } */

body {
    overflow-x: hidden;
    background-color: #fafafa;
}


#header {
    display: flex;
    align-items: center;
    background-color: #e3f5f8;
    width: 100vw;
    height: auto;
    padding: 0.5rem;
}

#header h2 {
    display: flex;
    margin-left: 17vw;
}

#header img {
    width: 20vw;
}


.titulo {
    font-size: 2rem;
    color: #afafaf;
    margin-top: 1rem;
}

.tituloPagina {
    font-size: 1.5rem;
    color: red;
}

h2 {
    color: #0dadc5;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 35vw;
    border: 1px solid #d9d9d9;
    border-radius: 0.7rem;
    background-color: white;
    margin-top: 1rem;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: white;
    width: 15rem;
    border-radius: 0.3rem;
    border-style: none;
    height: 2rem;
    margin: 0.35rem;
    cursor: pointer;
    transition: 0.2s;
    background-color: #0dadc5;
}

button p {
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

button:hover {
    scale: 1.1;
    /* margin-left: -1rem; */
}


.icons {
    width: 1.5rem;
    background-color: white;
    margin-left: -5px;
    padding: 3px 3px;
    border-radius: 0.25rem;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.contSelect {
    width: 30vw;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6vh;
    background-color: #1a3968;
    color: #d3d3d3;
    position: fixed;
    bottom: 0;
    left: 0;
}





/*========== MOBILE ==========*/

@media (max-width: 900px) {

    .conteudo {
        width: 90vw;
        height: auto;
        padding: 2rem 0rem;
    }

    .content {
        width: 100vw;
        height: 70vh;
        
    }

    .contSelect {
        width: 90vw;
    }

    #header {
        justify-content: center;
    }

    #header img {
        width: 50vw;
    }
    
    #sistemaVeterinaria {
        font-size: 1rem;
    }

    button {
        
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        color: white;
        width: 20rem;
        border-radius: 0.3rem;
        border-style: none;
        height: 3rem;
        margin: 0.35rem;
        cursor: pointer;
        transition: 0.2s;
        font-size: 1rem;
        background-color: #0dadc5;
    }

    button p {
        font-size: 1.3rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .icons {
        width: auto;
        height: 2.7rem;
        background-color: white;
        margin-left: -3px;
        padding: 3px 3px;
        border-radius: 0.25rem;
    }

    footer {
        background-color: transparent;
        color: #999999;
    }
}


/*
CORES
#0dadc5
#1a3968
*/