/* @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@100&display=swap"); */

/* * { */
    /* font-family: "Montserrat Alternates", sans-serif; */
    /* font-weight: 600; */
/* } */



.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.contSelect {
    width: 30vw;
}

.doseKilo {
    font-size: 1.3rem;
    padding: 0.5rem;
    color: white;
    border-radius: 0.3rem;
    background-color: #0dadc5;
    /* background-color: #1a3968; */
}


@media (max-width: 900px) {
    
    .contSelect {
        width: 90vw;
    }
}




